* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body {
    font-family: 'Fragment Mono', monospace;
    background-image: url(images/pexels-felix-mittermeier-957061.jpg);
    background-size: cover;
    min-height: 100vh;
    
}

.page {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(20, 1fr);
    height: 100vh;
    width: 100vw;
    color: lime;
}

.header {
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    color: lime;
    font-size: 2rem;
    border-bottom: 2px solid lime;
    width: 100%;
    background: rgb(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-sidebar {
    height: 100%;
    width: 20vw;
    grid-column: 1 / 2;
    grid-row: 3 / 20;
}

.main {
    grid-column: 2 / 5;
    grid-row: 3 / 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.calculator {
    width: 30vw;
    min-width: 300px;
    max-width: 350px;
    height: 60vh;
    max-height: fit-content;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    border: 4px solid black;

}

.display {
    width: 95%;
    height: 28%;
    color:  lime;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 10px;
    border-radius: 4px 4px 0px 0px;
    border: 4px solid black;
}

.memory {
    font-size: 3vh;
    color: rgba(0, 255, 0, 0.307);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}


.current {
    font-size: 4.5vh;
    color:  lime;
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

}

button {
    color:  lime;
    font-size: 3vh;
    background: black;
    border-radius: 4px;
}

.button-field {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1vh;
    padding: .5vh;
    border-radius: 0px 0px 10px 10px;

}

.backspace {
    grid-column: 3/5;
    background-color: lime;
}

img {
    height: 4vh;
}
.clear {
    grid-column: 1/3;
}


.right-sidebar {
    grid-column: 5 / 6;
    grid-row: 3 / 20;
    height: 100%;
    width: 20vw;
}


.footer {
    grid-column: 1 / 6;
    grid-row: 20 / 21;
    color: lime;
    background: rgb(8, 8, 8, 0.6);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
