* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Fragment Mono', monospace;
    background-image: url(images/pexels-felix-mittermeier-957061.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
    min-width: fit-content;
}

.calculator {
    width: 30vw;
    min-width: 300px;
    max-width: 350px;
    height: 60vh;
    max-height: fit-content;
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px 10px 0px 0px;
    border: 4px solid black;
}

.header {
    color: lime;
    font-size: 2rem;
}

.display {
    width: 95%;
    height: 28%;
    color:  lime;
    background: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px 10px;
    border-radius: 4px 4px 0px 0px;
    border: 4px solid black;
}

.memory {
    font-size: 3vh;
    color: rgba(0, 255, 0, 0.307);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.current {
    font-size: 5.5vh;
    color:  lime;
    height: 55%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-wrap: wrap;

}

button {
    color:  lime;
    font-size: 3vh;
    background: black;
    border-radius: 4px;
}

.button-field {
    width: 100%;
    height: 70%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 1vh;
    padding: .5vh;
    border-radius: 0px 0px 10px 10px;

}

.backspace {
    grid-column: 3/5;
    background-color: lime;
}

img {
    height: 4vh;
}
.clear {
    grid-column: 1/3;
}

footer {
    color: lime;
}
